---
import BaseLayout from "../layouts/BaseLayout.astro";
var theme = "box-shadow: inset 0 0 0 1000px var(--pm-verde-olivo);";
---
<BaseLayout
  title="Flora"
  description="Flora y vegetación de Huauchinango"
  color="border-bottom: 2px solid var(--pm-verde-olivo);"
>
  <div class="hero" style={theme}>
    <img src="/image/floraBanner.jpg" alt="Flora de Huauchinango" loading="lazy" />
    <h1 transition:name="hero" transition:animate="slide">
      Flora de Huauchinango
    </h1>

    <p>Conoce la diversidad botánica de nuestra región</p>
  </div>
</BaseLayout>
